<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Intelligence - Corporate Category Bootstrap Responsive Website Template - Home</title>

    <!-- google-fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;900&display=swap"
        rel="stylesheet">
    <!-- //google-fonts -->

    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="static/css/style-liberty.css">

</head>

<body>

<!-- top header -->
<section class="w3l-top-header">
    <div class="container">
        <div class="top-content-w3ls d-flex align-items-center justify-content-between">
            <div class="top-headers">
                <ul>
                    <li>
                        <i class="fa fa-map-marker-alt"></i><a href="#address">中央民族大学</a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i><a href="tel:+1(21) 234 4567">22301209</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i><a href="mailto:mail@example.com">李心语</a>
                    </li>
                </ul>
            </div>
            <div class="top-headers top-headers-2">
                <ul>
                    <li>
                        <a href="#facebook"><span class="fab fa-facebook-f"></span></a>
                    </li>
                    <li>
                        <a href="#twitter"><span class="fab fa-twitter"></span></a>
                    </li>
                    <li>
                        <a href="#instagram"><span class="fab fa-instagram"></span></a>
                </li>
                <li class=" mr-0">
                        <a href="#linkedin"><span class="fab fa-linkedin-in"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //top header -->

<!--header-->
<header id="site-header" class="fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg stroke">
            <h1>
                <a class="navbar-brand" href="index1.html">
                    <span class="fa fa-lightbulb"></span> DATA
                </a>
            </h1>
            <!-- if logo is image enable this   
            <a class="navbar-brand" href="#index1.html">
                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
            </a> -->
            <button class="navbar-toggler  collapsed bg-gradient" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                <span class="navbar-toggler-icon fa icon-close fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ms-lg-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index1.html">民族数据挖掘与分析<span class="sr-only"></span></a>
                    </li>


                    <!--/search-right-->
                    <ul class="header-search">
                        <li class="nav-item search-right">
                            <a href="#search" class="btn search-btn btn-light" title="search"><span class="fas fa-search" aria-hidden="true"></span></a>
                            <!-- search popup -->
                            <div id="search" class="pop-overlay">
                                <div class="popup">
                                    <h3 class="title-w3l two mb-4 text-left">Search Here</h3>
                                    <form action="#" method="GET" class="search-box d-sm-flex position-relative">
                                        <input type="search" placeholder="Enter Keyword here" name="search" required="required" autofocus="">
                                        <button type="submit" class="btn btn-style btn-primary"> Search</button>
                                    </form>
                                </div>
                                <a class="close" href="#close">×</a>
                            </div>
                            <!-- /search popup -->
                        </li>
                    </ul>
                    <!--//search-right-->
                </ul>
            </div>
            <!-- search button -->

            <!-- //search button -->

            <!-- toggle switch for light and dark theme -->
            <div class="cont-ser-position">
                <nav class="navigation">
                    <div class="theme-switch-wrapper">
                        <label class="theme-switch" for="checkbox">
                            <input type="checkbox" id="checkbox">
                            <div class="mode-container">
                                <i class="gg-sun"></i>
                                <i class="gg-moon"></i>
                            </div>
                        </label>
                    </div>
                </nav>
            </div>
            <!-- //toggle switch for light and dark theme -->
        </nav>
    </div>
</header>
<!--//header-->




<!-- banner section -->
<section id="home" class="w3l-banner py-5">
    <div class="container py-lg-5 py-md-4">
        <div class="py-lg-5 py-4">
            <div class="banner-info-grid">
                <h3 class="mb-4"><sup></sup> 民族数据挖掘</h3>
                <p>独龙族&塔塔尔族&京族</p>
                <a class="btn btn-secondary btn-style mt-5 me-2" href="#discover"> Discover Now </a>
                <a class="btn btn-style transparent-btn mt-5" href="about.html"> Get Started </a>
            </div>
        </div>
    </div>
</section>
<!-- //banner section -->


<!-- About Section-->
<section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/dulongciyun.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h6 class="w3l-title-small mb-1">词云分析</h6>
                <h3 class="w3l-title-main mb-2">独龙族</h3>
                <p class="my-4 pe-lg-5">独龙族是中国人口较少的少数民族之一，也是云南省人口最少的民族，使用独龙语，没有本民族文字。独龙族原有原始群婚的习俗，现已不存在。男女均散发，少女有纹面的习惯。独龙族人相信万物有灵，崇拜自然物，相信有鬼。</p>
                <h5 class="w3l-subtitle"></h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/塔塔尔词云图.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h6 class="w3l-title-small mb-1">词云分析</h6>
                <h3 class="w3l-title-main mb-2">塔塔尔族</h3>
                <p class="my-4 pe-lg-5">塔塔尔族为蒙古人种的西伯利亚类型，有本民族的语言，属阿尔泰语系突厥语族西匈语支，有以阿拉伯文字为基础的文字，主要信仰为伊斯兰教。新疆维吾尔自治区昌吉回族自治州奇台县大泉塔塔尔乡是中国唯一的以塔塔尔族为主体的民族乡。</p>
                <h5 class="w3l-subtitle"></h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-about py-5" id="about">
    <div class="container py-md-5 py-2">
        <div class="row w3l-row">
            <div class="col-lg-6 w3l-image pe-lg-5 mb-lg-0 mb-md-5 mb-4">
                <img src="static/images/京族词云图.png" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 w3l-about-info px-lg-4 align-center">
                <h6 class="w3l-title-small mb-1">词云分析</h6>
                <h3 class="w3l-title-main mb-2">京族</h3>
                <p class="my-4 pe-lg-5">京族是中国55个少数民族中人数较少的一个民族,主要分布在广西壮族自治区防城港市。主要聚居在东兴市江平镇的灌尾、山心、巫头三个海岛上、素有“京族三岛”之称。其他京族人口则与汉族、壮族杂居在东兴市江平、谭吉、红坎、恒望、竹山等地。钦州市也有少量京族人口分布。京族人喜欢的“唱哈”（意为唱歌)、竹竿舞、独弦琴，被誉为联系着京族文化的三颗“珍珠”。“嘲剧”是京族传统的戏剧,独具民族特色，内容多为叙事诗歌以及中国古诗词等。</p>
                <h5 class="w3l-subtitle"></h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //About Section-->


<!-- Services Section -->
<section class="about-section py-5">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="title-heading-w3 mx-auto text-center mb-sm-5 mb-4 pb-xl-4">
            <h3 class="w3l-title-main">情感分析</h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-chalkboard"></i>
                    </div>
                    <div class="about-content">
                    <img src="static/images/独龙族情感分析.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-md-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-chart-bar"></i>
                    </div>
                    <div class="about-content">
                    <img src="static/images/塔塔尔情感分析.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-lg-0 mt-3">
                <div class="about-single">
                    <div class="about-icon mb-4">
                        <i class="fas fa-city"></i>
                    </div>
                    <div class="about-content">
                    <img src="static/images/京族情感分析.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Services Section -->


<!-- Why Choose Us Section-->
<section class="w3l-whychooseus py-5" id="about1">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-5 align-center">
                <h6 class="w3l-title-small mb-2">百度趋势</h6>
                <h3 class="w3l-title-main mb-2">独龙族</h3>
                <p class="mt-3"></p>
                <div class="row two-grids mt-5">
                    <div class="col-sm-6 grids_info d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">地理</h4>
                            <p>云南省贡山独龙族怒族自治县
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                        <i class="fas fa-lightbulb"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">节日</h4>
                            <p>“卡雀哇”（过年）、剽牛祭天
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fas fa-headset"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">婚俗</h4>
                            <p>氏族外婚制，即同一氏族的男女无论有没有直系亲缘关系，均不能通婚
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fab fa-servicestack"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">音乐</h4>
                            <p>口弦、芒锣、铃铛、叶笛
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5 position-relative">
                <img src="static/images/独龙族百度趋势.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="w3l-whychooseus py-5" id="about1">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-5 align-center">
                <h6 class="w3l-title-small mb-2">百度趋势</h6>
                <h3 class="w3l-title-main mb-2">塔塔尔族</h3>
                <p class="mt-3"></p>
                <div class="row two-grids mt-5">
                    <div class="col-sm-6 grids_info d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">地理</h4>
                            <p>中国新疆、俄罗斯联邦、乌克兰、巴尔干、哈萨克斯坦
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                        <i class="fas fa-lightbulb"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">节日</h4>
                            <p>肉孜节、古尔邦节、撒班节
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fas fa-headset"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">信仰</h4>
                            <p>万物有灵的原始宗教信仰→伊斯兰教
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fab fa-servicestack"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">音乐</h4>
                            <p>“库涅”（二孔直吹的木箫）、“科比斯（置于唇间吹奏的口琴）、二弦小提琴
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5 position-relative">
                <img src="static/images/塔塔尔族百度趋势.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>

<section class="w3l-whychooseus py-5" id="about1">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row align-items-center">
            <div class="col-lg-7 pe-lg-5 align-center">
                <h6 class="w3l-title-small mb-2">百度趋势</h6>
                <h3 class="w3l-title-main mb-2">京族</h3>
                <p class="mt-3"></p>
                <div class="row two-grids mt-5">
                    <div class="col-sm-6 grids_info d-flex">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">地理</h4>
                            <p>东兴市江平镇的灌尾、山心、巫头
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-sm-0 mt-4">
                        <i class="fas fa-lightbulb"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">节日</h4>
                            <p>哈节、春节、中元、食新米节
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fas fa-headset"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">文学</h4>
                            <p>《镇海大王》《宋珍和陈菊花》《田头公》《计叔》《刘二打番鬼》
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 grids_info d-flex mt-md-5 mt-4">
                        <i class="fab fa-servicestack"></i>
                        <div class="detail ms-3">
                            <h4 class="w3l-subtitle">音乐</h4>
                            <p>独弦琴、二胡、笛子、锣、鼓
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 mt-lg-0 mt-5 position-relative">
                <img src="static/images/独龙族百度趋势.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!-- //Why Choose Us Section-->







<!-- Blog Section -->
<section class="w3l-blog">
    <div class="blog py-5" id="Newsblog">
        <div class="container py-lg-5 py-md-4 py-2">
            <div class="text-center mb-sm-5 mb-4">
                <h3 class="w3l-title-main">社会网络分析</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="static/images/独龙网络图.png"
                                    alt="Card image cap">
                            </a>

                        </div>
                        <div class="card-body blog-details">
                            <div class="price-review mb-1 align-items-center">
                                <p></p>
                            </div>
                            <a href="#blog-single" class="blog-desc">独龙族</a>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                </a>
                                <ul class="blog-meta">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="static/images/塔塔尔网络图.png"
                                    alt="Card image cap">
                            </a>

                        </div>
                        <div class="card-body blog-details">
                            <div class="price-review mb-1 align-items-center">
                                <p></p>
                            </div>
                            <a href="#blog-single" class="blog-desc">塔塔尔族</a>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                </a>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item">
                    <div class="card">
                        <div class="card-header p-0 position-relative">
                            <a href="#blog-single" class="zoom d-block">
                                <img class="card-img-bottom d-block" src="static/images/京族网络图.png"
                                    alt="Card image cap">
                            </a>

                        </div>
                        <div class="card-body blog-details">
                            <div class="price-review mb-1 align-items-center">
                                <p></p>
                            </div>
                            <a href="#blog-single" class="blog-desc">京族</a>
                        </div>
                        <div class="card-footer">
                            <div class="author align-items-center">
                                <a href="#author" class="post-author">
                                </a>
                                <ul class="blog-meta">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //Blog Section -->

<!-- call block -->
<section class="w3l-call-to-action-6">
    <div class="container py-5">
        <div class="d-lg-flex align-items-center justify-content-between">
            <div class="left-content-call">
                <span class="mb-2 text-italic">中央民族大学</span>
                <h3 class="w3l-title-main text-white">新闻与传播学院</h3>
            </div>
            <div class="right-content-call mt-lg-0 mt-4">
                <ul class="buttons">
                    <li class="phone-sec me-lg-4"><i class="fas fa-phone-volume"></i>
                        <a class="call-style-w3" href="tel:+1(23) 456 789 0000">22301209 </a>
                    </li>
                    <li><a href="contact.html" class="btn btn-style transparent-btn mt-lg-0 mt-3">李心语</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- //call block -->

<!-- footer block -->
<footer class="w3l-footer-29-main">
    <div class="footer-29 pt-5 pb-4">
        <div class="container pt-md-4">
            <div class="row footer-top-29">
                <div class="col-lg-4 col-md-6 footer-list-29">
                    <h6 class="footer-title-29"></h6>
                    <p class="mb-2 pe-xl-5">
                    </p>
                    <p class="mb-2"><a href="tel:+1(21) 234 4567"></a></p>
                    <p class="mb-2"><a href="mailto:info@example.com"></a></p>
                    <p class="mb-2"><a href="mailto:support@example.com"></a></p>
                </div>
                <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29"></h6>
                        <li><a href="about.html"></a></li>
                        <li><a href="#blog"></a></li>
                        <li><a href="services.html"></a></li>
                        <li><a href="contact.html"></a></li>
                        <li><a href="#shortcodes"></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-3 col-6 ps-lg-5 ps-lg-4 footer-list-29 mt-md-0 mt-4">
                    <ul>
                        <h6 class="footer-title-29"></h6>
                        <li><a href="#blog"></a></li>
                        <li><a href="#privacy"></a></li>
                        <li><a href="contact.html"></a></li>
                        <li><a href="#license"></a></li>
                        <li><a href="#blog"></a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 footer-list-29 mt-lg-0 mt-4 ps-lg-5">
                    <h6 class="footer-title-29"></h6>

                    <p class="mt-4"></p>
                </div>
            </div>
            <!-- copyright -->
            <p class="copy-footer-29 text-center mt-5 pb-2">媒介大数据挖掘与分析<a target="_blank" href="http://www.mobanwang.com/" title="网页模板"> 李心语</a></p>
            <!-- //copyright -->
        </div>
    </div>
</footer>
<!-- //footer block -->




<!-- Js scripts -->
<!-- move top -->
<button onclick="topFunction()" id="movetop" title="Go to top">
    <span class="fas fa-level-up-alt" aria-hidden="true"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- //move top -->

<!-- common jquery plugin -->
<script src="static/js/jquery-3.3.1.min.js"></script>
<!-- //common jquery plugin -->

<!-- theme switch js (light and dark)-->
<script src="static/js/theme-change.js"></script>
<!-- //theme switch js (light and dark)-->

<!--/stats-number-counter-->
<script src="static/js/jquery.waypoints.min.js"></script>
<script src="static/js/jquery.countup.js"></script>
<script>
    $('.counter').countUp();

</script>
<!--//stats-number-counter-->

<!--/owlcarousel-->
<script src="static/js/owl.carousel.js"></script>
<!-- //tesimonials-->
<script>
    $(document).ready(function() {
        $("#owl-demo1").owlCarousel({
            loop: true,
            nav: false,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                736: {
                    items: 1,
                    nav: false
                }
            }
        })
    })

</script>
<!-- //tesimonials-->

<!-- MENU-JS -->
<script>
    $(window).on("scroll", function () {
        var scroll = $(window).scrollTop();

        if (scroll >= 80) {
            $("#site-header").addClass("nav-fixed");
        } else {
            $("#site-header").removeClass("nav-fixed");
        }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
        $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
        if ($(window).width() > 991) {
            $("header").removeClass("active");
        }
        $(window).on("resize", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
        });
    });
</script>
<!-- //MENU-JS -->

<!-- disable body scroll which navbar is in active -->
<script>
    $(function () {
        $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- //disable body scroll which navbar is in active -->

<!--bootstrap-->
<script src="static/js/bootstrap.min.js"></script>
<!-- //bootstrap-->
<!-- //Js scripts -->

</body>

</html>